// Heading Color
$heading: #ffffff;

// Text Color
$text: #e6e6e6;

// Gray Background
//$bg-gray: #f6f9f9;
$bg-gray: #2b0A15;

// Primary Color
$primary: #ffcc00;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #e5e5e5;

// Hover Color
$hover: #ffcc00;

// Secondary Color
$secondary: #acacac;

// Warm brown
$warm-brown: #16310f;
